.cards-carousel {
  padding: 0;
}

.slick-slide {
  padding: 0 12px;

  &:first-child {
    padding: 0 12px 0 0;
  }

  &:last-child {
    padding: 0 0 0 12px;
  }

  & > div {
    outline: none;

    &:focus {
      outline: none;
    }
  }
}

.statistic-card {
  height: 100%;

  .card-content {
    width: 445px;
    padding: 30px;
    background-color: $white;
    height: 100%;
    border-radius: 20px;
    position: relative;

    @include media('<desktop') {
      margin: 0 auto 20px;
      background-color: #f6f6f6;
      border-radius: 0;
      max-width: 400px;
      width: 100%;
      padding: 30px 15px;

      &::before,
      &::after {
        content: '';
        display: block;
        background-color: #f6f6f6;
        height: 100%;
        top: 0;
        position: absolute;
      }

      &::before {
        right: 100%;
        left: -9999px;
      }

      &::after {
        left: 100%;
        right: -9999px;
      }
    }
  }

  &.to-add {
    .card-content {
      width: 305px;
      display: flex;
      align-items: center;
      justify-content: center;

      @include media('<desktop') {
        margin: 0 auto 20px;
        background-color: #f6f6f6;
        border-radius: 0;
        max-width: 400px;
        width: 100%;
      }
    }
  }
}

.data-row {
  display: flex;
  align-items: center;
  justify-content: space-between;
  border-bottom: 1px solid #e5e5e5;
  padding: 11px 0;
  margin-bottom: 8px;

  &:last-child {
    border-bottom: none;
    margin-bottom: 0;
  }

  .data-name {
    display: flex;
    align-items: center;
    justify-content: flex-start;

    .user-name {
      margin-left: 20px;
      color: $black;
      font-size: 20px;
      line-height: 1;
      font-weight: $font-medium;
    }
  }

  .data-value {
    color: $black;
    font-size: 20px;
    line-height: 1;
    font-weight: $font-medium;
  }
}

.card-header {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
