// Login page

.fullheight-wrapper {
  display: flex;
  align-items: stretch;
  flex-direction: row;
  flex-wrap: wrap;
  width: 100%;
  background-color: $light-400;

  .fullheight-inner {
    padding: 20px 0;
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    justify-content: center;
    align-items: center;
    width: 100%;
    min-height: 100vh;
  }
}

.logo {
  max-width: 300px;
  display: block;

  @include media('>=desktop') {
    margin-left: 30px;
  }

  img {
    width: 100%;
  }
}

.login-form {
  max-width: 580px;
  width: 90%;
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.05);
  border-radius: 13px;
  background-color: $white;
  padding: 30px 15px;

  @include media('>=tablet') {
    padding: 70px 85px;
    width: 100%;
  }
}
